 * {
  margin: 0;
  padding: 0;
 }
.App {
  font-family: sans-serif;
  text-align: center;
}
p {
  margin: 0 0 5px 0;
}
nav {
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
}
a {
  color: black;
  margin-right: 20px;
}
a:hover {
  color: red;
  text-decoration: none;
}
.jumbotron {
  background-color: whitesmoke;
  padding: 0 10px 10px 10px;
}